## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
7 ** 2

49

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s = "Hi there Sam!"

In [6]:
s.split(' ')

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [8]:
planet = "Earth"
diameter = 12742

In [9]:
f"The diameter of {planet} is {diameter} kilometers"

'The diameter of Earth is 12742 kilometers'

** Given this nested list, use indexing to grab the word "hello" **

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [41]:
lst[3][1][-1][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [42]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [59]:
d['k1'][-1]['tricky'][-1]['target'][-1]

'hello'

** What is the main difference between a tuple and a list? **

In [60]:
# Tuple is immutable
my_list = [1,2,3,4]
my_list[0] = 100
my_list

[100, 2, 3, 4]

In [61]:
my_tuple = (1,2,3,4)
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [62]:
s = "user@gmail.com"

In [66]:
s.split('@')[1]

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [74]:
s = "i love DoG, the dogs are very friendly pets"
if "dog" in s.lower():
    print(True)
else:
    print(False)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [85]:
count_1 = []
s_split = s.split(' ')
for w in s_split:
    if "dog" in w.lower():
        count_1.append(w)
len(count_1)

2

In [77]:
s_split

['i', 'love', 'DoG,', 'the', 'dogs', 'are', 'very', 'friendly', 'pets']

In [84]:
s.lower().find("dog")

7

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [44]:
seq = ['soup','dog','salad','cat','great']

In [48]:
list(filter(lambda x : x.startswith("s"), seq))

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **